@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
html{
  font-family: 'Karla', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 30px;
  background-color: #D3DEDC;
}

/* mobile version */
.container {
  display: grid;
  grid-template-columns: 100%;
  max-width: 550px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 0px 15px darkslategray;
  overflow: hidden;
}

.item {
  padding: 40px;
}
.top {
  background-color: white;
}

.top h2 {
  color: #1C658C;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;
}

.top h3 {
  color: #398AB9;
  font-weight: 700px;
  font-size: 18px;
  margin-bottom: 15px;
}

.top p {
  color: dimgray;
  font-size: 16px;
}

.left {
  background-color: #1572A1;

}

.left h3{
  color: #F5F5F5;
  font-weight: 350;
  font-size: 22px;
  margin-bottom: 15px;
}
.left p {
  color: #EEEEEE;
  font-size: 16px;
  font-weight: 450;
  margin-bottom: 10px;

}
.left p span {
  font-size: 30px;
  font-weight: 700;
}
.left .button {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
  color: #334257;
  text-decoration: none;
  margin-top: 30px;
  font-weight: 700;
  box-shadow: 0 0 8px dimgrey;
}

.right {
  background-color: #EEEEEE;
}
.right h3 {
  color: #1C658C;
  font-weight: 450;
  font-size: 16px;
  margin-bottom: 16px;
}

.right p {
  color: dimgray;
  line-height: normal;
}

/* screen style for desktop  */

@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: 50% 50%;

  }
  /* only 1 column to appear on the top */
  /* 1 row 1 column and 2 and end with 3 */
  .top {
    grid-area: 1/ 1/ 2/ 3;
  }

  /* to say in grid row */
  .right .left {
    grid-row: 2;
  }
}





/* just comment */
