@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
  }
  body {
    background: linear-gradient(111deg, rgb(0, 29, 61) 17%, rgba(6,148,170,1) 68%);
    margin: 0;
    padding: 0;
  }
  h1,h4, p {
    color: #fff6eb;
  }

  .checkbtn {
    font-size:36px;
    color: white;
    float: right;
    margin: 30px;
    padding: 10px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }

  nav {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y:auto;
    border: .5px solid rgba(255, 255, 255, 0.388) ;
    width: 320px; 
    height: 100%;
    padding: 0 15px;
    background: linear-gradient(0deg, rgb(0, 29, 61) 17%, rgba(6,148,170,1) 68%);
  }
 
  nav label.logo {
    display: flex;
    color: rgb(255, 255, 255);
    line-height: 70px;
    font-size: 35px;
    margin: 27px 0;
    background: #0f0225;
    border-radius: 10px;
    border: .1px solid white;
    font-weight: bold;
    font-family: 'My Soul', cursive;
    justify-content: center;
    box-shadow: 2px 2px 10px 4px #ffffff9d;

  }
  nav .navigation {
    padding-top: 60px;
    
    
  }
  nav .navigation a{
    display: block;
    line-height: 40px;
    font-weight:100;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 30px;
    border-radius: 10px;
    border: .1px solid rgba(255, 255, 255, 0.242);
    box-shadow: 0px 0px 16px 1px #FFFFFF;
    color: #ffffff;
    font-size: 16px;
    text-size-adjust: auto;
    transform-style: flat;
  }
  nav .navigation a:hover {
    background-color: #ffffff;
    color: #0f0225;
    font-size: 16px;
    text-transform: uppercase;
    transform-style: flat;
    box-shadow: 0px 0px 16px 0px #FFFFFF;
  }


.home {
  padding-top: 40px;
  margin-left: 300px;
  /*background-color: #7b8216; */
}

.home .backimg {
  padding-top: 170px;
  position:absolute;
  right: 0;
  height: 90%;
  width: 90%;
  padding-left: 300px;
  object-fit: scale-down;
}
.content-container {
  height: 90vh;
}

.landing-info {
  position: absolute;
  padding: 10% 20%;
  font-size: 24px;
  font-size: 2vw;
  line-height: 1.5;
  text-size-adjust: none;
}


.media-icons a {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 40px;
  padding: 20px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}


.media-icons a:hover {
  transition: 0.3s;
  transform: scale(1.1);
  color: rgb(0, 251, 255);
}

/*------------About section container--------------*/

.about {
  margin: 150px; 
  letter-spacing: .9px;
}
.about h3 {
  font-size: 34px;
  color: #fff6eb;
  padding: 10px 0;

}
.about p {
  font-size: 18px;
  padding-top: 10px;
  font-family: 'Merriweather', serif;
}

/*------------Projects section container--------------*/
.projects {
  font-size:38px;
  color: white;
  padding: 20px 0;
  align-items: center;
  text-align: center;
}
.gallery-section {
  padding: 0 6px;
  margin: 55px 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.gallery {
  margin: 20px 40px 5px 5px;
  width: 300px;
  float: left;
  border-radius: 7px;
  

}
.image-section .img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.5) ;
  box-shadow: 0px -2px 15px 4px #00000098;
}
.image-section:hover .img{
  border-radius: 7px;
  transform: scale(1.02);
  transition-timing-function: ease-in-out;
  box-shadow: 0px -2px 15px 4px #ffffff98;
}
.caption {
  /* border: .9px solid rgba(255, 255, 255, 0.645);
  margin: 0 60px; */
  padding: 10px;
  opacity: 0;
  text-align: center;
  border-radius: 7px;
  text-size-adjust: auto;
}
.caption a {
  font-weight: 400;
  color: rgb(250, 250, 250);
}
.image-section:hover .caption {
  background-color: rgb(5, 35, 56);
  opacity: 1;
}
.captio {
  padding: 20px 0;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  border-radius: 7px;
  text-size-adjust: auto;
}

/*------------CONTACT SECTION--------------*/
.contact-container {
  line-height: 1.9;
  text-align: center;
  margin-bottom: 150px;
  margin-left: 300px;
}
 
.contact-container h4{
  padding-bottom: 20px;
}
.contact-container p{
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.contact-container a{
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}

footer {
  background-color: #0f0225;
  padding: 20px 0 20px 0;
  margin-left: 320px;
  border:.2px solid #404040;
  text-align: center;
  bottom: 0;
}
footer p {
  color: #b5b5b5;
  font-size: 16px;
}

@media screen and (max-width: 860px) {
  .checkbtn {
    margin: 20px;
    padding: 10px;
    font-size:36px;
    display: block;
    float: right;
  }
  nav {
    width: 100%;
    height: 500px;
    position: static;
  }
  .navigation {
    display: block;
    height: 200px;
    text-align: center;
  }
  nav .navigation a {
    margin: 5;
    padding: 2px;
  }
  nav label.logo {
    width: 160px;
    line-height: 2;
    font-size: 28px;
  }
  #check:checked ~ .home{
    margin: 20px;
  }
  .media-icons {
    display: none;
  }
  .home {
   margin: 10px;
  }
  .home .backimg {
    position:absolute;
    right: 0;
    height: 50vh;
    padding: 0;
  }
  .content-container {
    height: 65vh;
  }
  .landing-info {
    position: absolute;
    padding: 31px;
    font-size: 26px;
    line-height: 1.5;
    text-size-adjust: none;
  }
  .about {
    margin: 25px;
  }
  .image-section .img {
    box-shadow: 0px -4px 20px 1px #ffffff66;
  }
  .image-section .caption {
    background-color: rgb(5, 35, 56);
    opacity: 1;
    padding: 15px 20px;
  }
  .contact-container {
    margin: 0;
    height: 20vh;
  }
  footer: {
    margin: 0;
    width: 100%;
  }
}








